* {
    margin: 0;
}

body {
    background: url('/static/images/success.jpg') no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
}
